{% extends 'base.html' %}
{% load static %}

{% block contents %}
    
    
    <!-- Hero Section -->
    <section id="hero" class="hero section">

        <img src="{% static 'img/sleeping-disorder.jpg' %}" alt="" data-aos="fade-in">
  
        <div class="container text-center" data-aos="zoom-out" data-aos-delay="100">
          <div class="row justify-content-center">
            <div class="col-lg-8">
              <h2>APPLYING MACHINE LEARNING ALGORITHMS FOR THE CLASSIFICATION OF SLEEP DISORDERS</h2>
              <p></p>
            </div>
          </div>
        </div>
  
      </section><!-- /Hero Section -->

{% endblock %}