{% extends "base.html" %}

{% block contents %}
    <!-- Login Section -->
    <section id="login" class="login section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
          <h2>Login</h2>
          <p>Please enter your credentials to log in.</p>
        </div><!-- End Section Title -->
  
        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4 justify-content-center">
  
            <div class="col-lg-5">
                {% if messages %}
                <div class="row">
                    <div class="col-md-12">
                        {% for message in messages %}
                            <div class="alert alert-success" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
            
              <form method="post" action="{% url 'user_login' %}"  data-aos="fade-up" data-aos-delay="200">
                {% csrf_token %} 
                <div class="row gy-4">
  
                  <div class="col-md-12">
                    <label for="username-field" class="pb-2">Username</label>
                    <input type="text" name="username" id="username-field" class="form-control" required="">
                  </div>
  
                  <div class="col-md-12">
                    <label for="password-field" class="pb-2">Password</label>
                    <input type="password" name="password" id="password-field" class="form-control" required="">
                  </div>
  
                  <div class="col-md-12 text-center">
                    <button type="submit" class="btn btn-primary">Login</button>
                  </div>
  
                  <div class="col-md-12 text-center">
                    <p>Don't have an account? <a href="{% url 'register_page' %}">Register here</a>.</p>
                  </div>
  
                </div>
              </form>
            </div><!-- End Login Form -->
  
          </div>
  
        </div>
  
      </section><!-- /Login Section -->
{% endblock %}
